@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\002a";
}
.glyphicon-plus:before {
  content: "\002b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.glyphicon-cd:before {
  content: "\e201";
}
.glyphicon-save-file:before {
  content: "\e202";
}
.glyphicon-open-file:before {
  content: "\e203";
}
.glyphicon-level-up:before {
  content: "\e204";
}
.glyphicon-copy:before {
  content: "\e205";
}
.glyphicon-paste:before {
  content: "\e206";
}
.glyphicon-alert:before {
  content: "\e209";
}
.glyphicon-equalizer:before {
  content: "\e210";
}
.glyphicon-king:before {
  content: "\e211";
}
.glyphicon-queen:before {
  content: "\e212";
}
.glyphicon-pawn:before {
  content: "\e213";
}
.glyphicon-bishop:before {
  content: "\e214";
}
.glyphicon-knight:before {
  content: "\e215";
}
.glyphicon-baby-formula:before {
  content: "\e216";
}
.glyphicon-tent:before {
  content: "\26fa";
}
.glyphicon-blackboard:before {
  content: "\e218";
}
.glyphicon-bed:before {
  content: "\e219";
}
.glyphicon-apple:before {
  content: "\f8ff";
}
.glyphicon-erase:before {
  content: "\e221";
}
.glyphicon-hourglass:before {
  content: "\231b";
}
.glyphicon-lamp:before {
  content: "\e223";
}
.glyphicon-duplicate:before {
  content: "\e224";
}
.glyphicon-piggy-bank:before {
  content: "\e225";
}
.glyphicon-scissors:before {
  content: "\e226";
}
.glyphicon-bitcoin:before {
  content: "\e227";
}
.glyphicon-btc:before {
  content: "\e227";
}
.glyphicon-xbt:before {
  content: "\e227";
}
.glyphicon-yen:before {
  content: "\00a5";
}
.glyphicon-jpy:before {
  content: "\00a5";
}
.glyphicon-ruble:before {
  content: "\20bd";
}
.glyphicon-rub:before {
  content: "\20bd";
}
.glyphicon-scale:before {
  content: "\e230";
}
.glyphicon-ice-lolly:before {
  content: "\e231";
}
.glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
.glyphicon-education:before {
  content: "\e233";
}
.glyphicon-option-horizontal:before {
  content: "\e234";
}
.glyphicon-option-vertical:before {
  content: "\e235";
}
.glyphicon-menu-hamburger:before {
  content: "\e236";
}
.glyphicon-modal-window:before {
  content: "\e237";
}
.glyphicon-oil:before {
  content: "\e238";
}
.glyphicon-grain:before {
  content: "\e239";
}
.glyphicon-sunglasses:before {
  content: "\e240";
}
.glyphicon-text-size:before {
  content: "\e241";
}
.glyphicon-text-color:before {
  content: "\e242";
}
.glyphicon-text-background:before {
  content: "\e243";
}
.glyphicon-object-align-top:before {
  content: "\e244";
}
.glyphicon-object-align-bottom:before {
  content: "\e245";
}
.glyphicon-object-align-horizontal:before {
  content: "\e246";
}
.glyphicon-object-align-left:before {
  content: "\e247";
}
.glyphicon-object-align-vertical:before {
  content: "\e248";
}
.glyphicon-object-align-right:before {
  content: "\e249";
}
.glyphicon-triangle-right:before {
  content: "\e250";
}
.glyphicon-triangle-left:before {
  content: "\e251";
}
.glyphicon-triangle-bottom:before {
  content: "\e252";
}
.glyphicon-triangle-top:before {
  content: "\e253";
}
.glyphicon-console:before {
  content: "\e254";
}
.glyphicon-superscript:before {
  content: "\e255";
}
.glyphicon-subscript:before {
  content: "\e256";
}
.glyphicon-menu-left:before {
  content: "\e257";
}
.glyphicon-menu-right:before {
  content: "\e258";
}
.glyphicon-menu-down:before {
  content: "\e259";
}
.glyphicon-menu-up:before {
  content: "\e260";
}

/*图标*/
@font-face {font-family: "gay-icon";
    src: url('../fonts/gly_iconfont.ttf') format('truetype');
}
.mzen-iconfont {
    position: relative;
    font-family:"gay-icon" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.mzen-icon-appreciate:before { content: "\e644"; }
.mzen-icon-check:before { content: "\e645"; }
.mzen-icon-close:before { content: "\e646"; }
.mzen-icon-edit:before { content: "\e649"; }
.mzen-icon-emoji:before { content: "\e64a"; }
.mzen-icon-favorfill:before { content: "\e64b"; }
.mzen-icon-favor:before { content: "\e64c"; }
.mzen-icon-loading:before { content: "\e64f"; }
.mzen-icon-locationfill:before { content: "\e650"; }
.mzen-icon-location:before { content: "\e651"; }
.mzen-icon-phone:before { content: "\e652"; }
.mzen-icon-roundcheckfill:before { content: "\e656"; }
.mzen-icon-roundcheck:before { content: "\e657"; }
.mzen-icon-roundclosefill:before { content: "\e658"; }
.mzen-icon-roundclose:before { content: "\e659"; }
.mzen-icon-roundrightfill:before { content: "\e65a"; }
.mzen-icon-roundright:before { content: "\e65b"; }
.mzen-icon-search:before { content: "\e65c"; }
.mzen-icon-timefill:before { content: "\e65e"; }
.mzen-icon-time:before { content: "\e65f"; }
.mzen-icon-taxi:before { content: "\e65d"; }
.mzen-icon-unfold:before { content: "\e661"; }
.mzen-icon-warnfill:before { content: "\e662"; }
.mzen-icon-warn:before { content: "\e663"; }
.mzen-icon-camerafill:before { content: "\e664"; }
.mzen-icon-camera:before { content: "\e665"; }
.mzen-icon-commentfill:before { content: "\e666"; }
.mzen-icon-comment:before { content: "\e667"; }
.mzen-icon-likefill:before { content: "\e668"; }
.mzen-icon-like:before { content: "\e669"; }
.mzen-icon-notificationfill:before { content: "\e66a"; }
.mzen-icon-notification:before { content: "\e66b"; }
.mzen-icon-order:before { content: "\e66c"; }
.mzen-icon-samefill:before { content: "\e66d"; }
.mzen-icon-same:before { content: "\e66e"; }
.mzen-icon-deliver:before { content: "\e671"; }
.mzen-icon-evaluate:before { content: "\e672"; }
.mzen-icon-pay:before { content: "\e673"; }
.mzen-icon-send:before { content: "\e675"; }
.mzen-icon-shop:before { content: "\e676"; }
.mzen-icon-ticket:before { content: "\e677"; }
.mzen-icon-left:before { content: "\e679"; }
.mzen-icon-cascades:before { content: "\e67c"; }
.mzen-icon-discover:before { content: "\e67e"; }
.mzen-icon-list:before { content: "\e682"; }
.mzen-icon-more:before { content: "\e684"; }
.mzen-icon-myfill:before { content: "\e685"; }
.mzen-icon-my:before { content: "\e686"; }
.mzen-icon-scan:before { content: "\e689"; }
.mzen-icon-settings:before { content: "\e68a"; }
.mzen-icon-questionfill:before { content: "\e690"; }
.mzen-icon-question:before { content: "\e691"; }
.mzen-icon-shopfill:before { content: "\e697"; }
.mzen-icon-form:before { content: "\e699"; }
.mzen-icon-pic:before { content: "\e69b"; }
.mzen-icon-filter:before { content: "\e69c"; }
.mzen-icon-footprint:before { content: "\e69d"; }
.mzen-icon-top:before { content: "\e69e"; }
.mzen-icon-pulldown:before { content: "\e69f"; }
.mzen-icon-pullup:before { content: "\e6a0"; }
.mzen-icon-right:before { content: "\e6a3"; }
.mzen-icon-refresh:before { content: "\e6a4"; }
.mzen-icon-moreandroid:before { content: "\e6a5"; }
.mzen-icon-deletefill:before { content: "\e6a6"; }
.mzen-icon-refund:before { content: "\e6ac"; }
.mzen-icon-cart:before { content: "\e6af"; }
.mzen-icon-qrcode:before { content: "\e6b0"; }
.mzen-icon-remind:before { content: "\e6b2"; }
.mzen-icon-delete:before { content: "\e6b4"; }
.mzen-icon-profile:before { content: "\e6b7"; }
.mzen-icon-home:before { content: "\e6b8"; }
.mzen-icon-cartfill:before { content: "\e6b9"; }
.mzen-icon-discoverfill:before { content: "\e6ba"; }
.mzen-icon-homefill:before { content: "\e6bb"; }
.mzen-icon-message:before { content: "\e6bc"; }
.mzen-icon-addressbook:before { content: "\e6bd"; }
.mzen-icon-link:before { content: "\e6bf"; }
.mzen-icon-lock:before { content: "\e6c0"; }
.mzen-icon-unlock:before { content: "\e6c2"; }
.mzen-icon-vip:before { content: "\e6c3"; }
.mzen-icon-activity:before { content: "\e6c5"; }
.mzen-icon-friendaddfill:before { content: "\e6c9"; }
.mzen-icon-friendadd:before { content: "\e6ca"; }
.mzen-icon-friendfamous:before { content: "\e6cb"; }
.mzen-icon-friend:before { content: "\e6cc"; }
.mzen-icon-goods:before { content: "\e6cd"; }
.mzen-icon-selection:before { content: "\e6ce"; }
.mzen-icon-explore:before { content: "\e6d2"; }
.mzen-icon-present:before { content: "\e6d3"; }
.mzen-icon-squarecheckfill:before { content: "\e6d4"; }
.mzen-icon-square:before { content: "\e6d5"; }
.mzen-icon-squarecheck:before { content: "\e6d6"; }
.mzen-icon-round:before { content: "\e6d7"; }
.mzen-icon-roundaddfill:before { content: "\e6d8"; }
.mzen-icon-roundadd:before { content: "\e6d9"; }
.mzen-icon-add:before { content: "\e6da"; }
.mzen-icon-notificationforbidfill:before { content: "\e6db"; }
.mzen-icon-explorefill:before { content: "\e6dd"; }
.mzen-icon-fold:before { content: "\e6de"; }
.mzen-icon-game:before { content: "\e6df"; }
.mzen-icon-redpacket:before { content: "\e6e0"; }
.mzen-icon-selectionfill:before { content: "\e6e1"; }
.mzen-icon-similar:before { content: "\e6e2"; }
.mzen-icon-appreciatefill:before { content: "\e6e3"; }
.mzen-icon-infofill:before { content: "\e6e4"; }
.mzen-icon-info:before { content: "\e6e5"; }
.mzen-icon-forwardfill:before { content: "\e6ea"; }
.mzen-icon-forward:before { content: "\e6eb"; }
.mzen-icon-rechargefill:before { content: "\e6ec"; }
.mzen-icon-recharge:before { content: "\e6ed"; }
.mzen-icon-vipcard:before { content: "\e6ee"; }
.mzen-icon-voice:before { content: "\e6ef"; }
.mzen-icon-voicefill:before { content: "\e6f0"; }
.mzen-icon-friendfavor:before { content: "\e6f1"; }
.mzen-icon-wifi:before { content: "\e6f2"; }
.mzen-icon-share:before { content: "\e6f3"; }
.mzen-icon-wefill:before { content: "\e6f4"; }
.mzen-icon-we:before { content: "\e6f5"; }
.mzen-icon-lightauto:before { content: "\e6f6"; }
.mzen-icon-lightforbid:before { content: "\e6f7"; }
.mzen-icon-lightfill:before { content: "\e6f8"; }
.mzen-icon-camerarotate:before { content: "\e6f9"; }
.mzen-icon-light:before { content: "\e6fa"; }
.mzen-icon-barcode:before { content: "\e6fb"; }
.mzen-icon-flashlightclose:before { content: "\e6fc"; }
.mzen-icon-flashlightopen:before { content: "\e6fd"; }
.mzen-icon-searchlist:before { content: "\e6fe"; }
.mzen-icon-service:before { content: "\e6ff"; }
.mzen-icon-sort:before { content: "\e700"; }
.mzen-icon-down:before { content: "\e703"; }
.mzen-icon-mobile:before { content: "\e704"; }
.mzen-icon-mobilefill:before { content: "\e705"; }
.mzen-icon-copy:before { content: "\e706"; }
.mzen-icon-countdownfill:before { content: "\e707"; }
.mzen-icon-countdown:before { content: "\e708"; }
.mzen-icon-noticefill:before { content: "\e709"; }
.mzen-icon-notice:before { content: "\e70a"; }
.mzen-icon-upstagefill:before { content: "\e70e"; }
.mzen-icon-upstage:before { content: "\e70f"; }
.mzen-icon-choicenessfill:before { content: "\e714"; }
.mzen-icon-choiceness:before { content: "\e715"; }
.mzen-icon-clothesfill:before { content: "\e716"; }
.mzen-icon-clothes:before { content: "\e717"; }
.mzen-icon-creativefill:before { content: "\e718"; }
.mzen-icon-creative:before { content: "\e719"; }
.mzen-icon-female:before { content: "\e71a"; }
.mzen-icon-keyboard:before { content: "\e71b"; }
.mzen-icon-male:before { content: "\e71c"; }
.mzen-icon-pullleft:before { content: "\e71f"; }
.mzen-icon-pullright:before { content: "\e720"; }
.mzen-icon-rankfill:before { content: "\e721"; }
.mzen-icon-rank:before { content: "\e722"; }
.mzen-icon-bad:before { content: "\e723"; }
.mzen-icon-cameraadd:before { content: "\e724"; }
.mzen-icon-focus:before { content: "\e725"; }
.mzen-icon-friendfill:before { content: "\e726"; }
.mzen-icon-cameraaddfill:before { content: "\e727"; }
.mzen-icon-apps:before { content: "\e729"; }
.mzen-icon-paintfill:before { content: "\e72a"; }
.mzen-icon-paint:before { content: "\e72b"; }
.mzen-icon-picfill:before { content: "\e72c"; }
.mzen-icon-refresharrow:before { content: "\e72d"; }
.mzen-icon-markfill:before { content: "\e730"; }
.mzen-icon-mark:before { content: "\e731"; }
.mzen-icon-presentfill:before { content: "\e732"; }
.mzen-icon-repeal:before { content: "\e733"; }
.mzen-icon-album:before { content: "\e734"; }
.mzen-icon-peoplefill:before { content: "\e735"; }
.mzen-icon-people:before { content: "\e736"; }
.mzen-icon-servicefill:before { content: "\e737"; }
.mzen-icon-repair:before { content: "\e738"; }
.mzen-icon-file:before { content: "\e739"; }
.mzen-icon-repairfill:before { content: "\e73a"; }
.mzen-icon-taoxiaopu:before { content: "\e73b"; }
.mzen-icon-attentionfill:before { content: "\e73c"; }
.mzen-icon-attention:before { content: "\e73d"; }
.mzen-icon-commandfill:before { content: "\e73e"; }
.mzen-icon-command:before { content: "\e73f"; }
.mzen-icon-communityfill:before { content: "\e740"; }
.mzen-icon-community:before { content: "\e741"; }
.mzen-icon-read:before { content: "\e742"; }
.mzen-icon-calendar:before { content: "\e74a"; }
.mzen-icon-cut:before { content: "\e74b"; }
.mzen-icon-magic:before { content: "\e74c"; }
.mzen-icon-backwardfill:before { content: "\e74d"; }
.mzen-icon-forwardfill1:before { content: "\e74e"; }
.mzen-icon-playfill:before { content: "\e74f"; }
.mzen-icon-stop:before { content: "\e750"; }
.mzen-icon-tagfill:before { content: "\e751"; }
.mzen-icon-tag:before { content: "\e752"; }
.mzen-icon-group:before { content: "\e753"; }
.mzen-icon-move:before { content: "\e754"; }
.mzen-icon-all:before { content: "\e755"; }
.mzen-icon-backdelete:before { content: "\e756"; }
.mzen-icon-hotfill:before { content: "\e757"; }
.mzen-icon-hot:before { content: "\e758"; }
.mzen-icon-post:before { content: "\e759"; }
.mzen-icon-radiobox:before { content: "\e75b"; }
.mzen-icon-rounddown:before { content: "\e75c"; }
.mzen-icon-upload:before { content: "\e75d"; }
.mzen-icon-videofill:before { content: "\e75e"; }
.mzen-icon-video:before { content: "\e75f"; }
.mzen-icon-writefill:before { content: "\e760"; }
.mzen-icon-write:before { content: "\e761"; }
.mzen-icon-radioboxfill:before { content: "\e763"; }
.mzen-icon-punch:before { content: "\e764"; }
.mzen-icon-shake:before { content: "\e765"; }
.mzen-icon-add1:before { content: "\e767"; }
.mzen-icon-move1:before { content: "\e768"; }
.mzen-icon-safe:before { content: "\e769"; }
.mzen-icon-activityfill:before { content: "\e775"; }
.mzen-icon-crownfill:before { content: "\e776"; }
.mzen-icon-crown:before { content: "\e777"; }
.mzen-icon-goodsfill:before { content: "\e778"; }
.mzen-icon-messagefill:before { content: "\e779"; }
.mzen-icon-profilefill:before { content: "\e77a"; }
.mzen-icon-sound:before { content: "\e77b"; }
.mzen-icon-sponsorfill:before { content: "\e77c"; }
.mzen-icon-weunblock:before { content: "\e780"; }
.mzen-icon-weblock:before { content: "\e77f"; }
.mzen-icon-upblock:before { content: "\e77e"; }
.mzen-icon-sponsor:before { content: "\e77d"; }
.mzen-icon-babyfill:before { content: "\e710"; }
.mzen-icon-baby:before { content: "\e711"; }
